@use '@angular/material' as mat;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding-top: 60px; /* height of fixed navbar */
}

footer {
  flex-shrink: 0;
}


.select-btn {
  margin-top: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-btn:hover {
  background-color: #218838;
}

.select-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  opacity: 0.7;
}

.select-btn:disabled:hover {
  background-color: #6c757d;
}
.mat-horizontal-stepper-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mat-horizontal-stepper-content{
  width: 100%;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
