.container {
    min-height: calc(100vh - 200px); /* accounting for navbar and footer */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
  }
  
  .btn-primary {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    min-width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-border {
    width: 1rem;
    height: 1rem;
  }

  .drag-drop-area {
    border: 2px dashed #007bff;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1rem;
    color: #6c757d;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .container .mat-horizontal-stepper-wrapper{
    width: 100% !important;
  }

  .current-photo {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: white;
  }

  .info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
  }
  home {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }